<%- include("./partials/header.ejs", {res}) %> 
    <div class="container">
        <div class="row">
            <div class="col signin-view">
                <h1>One Account, All of Snippet</h1>
                <p>All of the world is behind your screen</p>
            </div>
            <div class="col">
                <div class="card bg-primary text-light signin-card">
                    <div class="card-body">
                        <h4 class="card-title">Sign In</h4>
                        <p>Sign in now to your account. Don't have one?&nbsp;<a href="/">Create an account</a>.</p>
                        <%- include("./partials/status-messages.ejs", {res}) %> 
                        <form action="/auth/login" method="POST">
                            <input name="username" class="form-control" type="text" placeholder="Username">
                            <input name="password" class="form-control" type="password" placeholder="Password">
                            <input type="submit" class="btn btn-secondary signin-btn" value="Sign In" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<%- include("./partials/footer.ejs") %>